@inject ILoaderService LoaderService
@inherits ReactiveComponentBase

@if (this.LoaderService.Show)
{
<div class="loader content">
    <div class="row h-100">
        <div class="col-lg-12 my-auto" style="text-align:center">
            @ChildContent
        </div>
    </div>
</div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
